{{ partial "header.html" . }}

{{.Content}}

<div class="archive">
  {{ range .Pages.GroupByDate "2006" }}
  <h2 class="archive-title">{{ .Key }}</h2>
  {{ range .Pages.GroupByDate "2006-01-02" }}
  {{ range .Pages }}
  <p>
    <span>{{ .Date.Format "2006-01-02" }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </p>
  {{ end }}
  {{ end }}
  {{ end }}
</div>

  
  {{ partial "footer.html" . }}
