{{ partial "header.html" . }}

{{ .Content }}

{{ $.Scratch.Set "pages" .Site.RegularPages }}

<ul>
   {{ range (where ($.Scratch.Get "pages") "Section" "=" "post").GroupByDate "2006" }}

      <h3>{{ .Key }}</h3>
 
  {{ range (where ($.Scratch.Get "pages") "Section" "=" "post") }}

<li>
  <span class="date">{{ .Date.Format "2006/01/02" }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
      {{end }}

    </ul>
        
      {{ partial "footer.html" . }}
    



